// libs
@tailwind base;
@tailwind components;
@tailwind utilities;

// styles
html,
body,
#__next {
    height: 100%;
}

input {
    outline: none;
}

li {
    list-style-type: none;
}

// colors
$mainbackground: #fff;
$scrollThumb: #dbdbdb;
$scrollThumbHover: #cacaca;

// sizes
$maxWidth: 1920px;
$minWidth: 320px;
$headerHeight: 80px;
$headerHeight640: 65px;
$headerHeight425: 50px;
