// libs
@tailwind base;
@tailwind components;
@tailwind utilities;

// styles
html,
body,
#__next {
    height: 100%;
    font-family: var(--font-inter);
}

input {
    outline: none;
}

li {
    list-style-type: none;
}
